.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2180ec;
  padding: 20px 40px;
  color: rgb(10, 8, 8);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-left .header-title {
  font-size: 1.8rem;
  margin: 0;
}

.header-right {
  display: flex;
  gap: 10px;
}

.header-right button {
  padding: 10px 16px;
  font-size: 1rem;
  border: none;
  background-color: #8efa5c;
color: rgb(10, 8, 8);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.header-right button:hover {
  background-color: #7ba6f0;
}